In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.simplefilter('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from pyspark.ml.classification import GBTClassifier
import findspark
findspark.init()
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.sql import SparkSession
from pyspark.sql import Row
import collections
from pyspark import SparkConf,SparkContext
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [3]:
df = pd.read_csv('churn.csv')
df.shape

(900, 8)

In [4]:
del df['Unnamed: 0']
df.head()

,Names,Age,Total_Purchase,Account_Manager,Years,Num_Sites,Churn
0,Cameron Williams,42.0,11066.80,0,7.22,8.0,1
1,Kevin Mueller,41.0,11916.22,0,6.50,11.0,1
2,Eric Lozano,38.0,12884.75,0,6.67,12.0,1
3,Phillip White,42.0,8010.76,0,6.71,10.0,1
4,Cynthia Norton,37.0,9191.58,0,5.56,9.0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Names            900 non-null    object
 1   Age              900 non-null    float64
 2   Total_Purchase   900 non-null    float64
 3   Account_Manager  900 non-null    int64
 4   Years            900 non-null    float64
 5   Num_Sites        900 non-null    float64
 6   Churn            900 non-null    int64
dtypes: float64(4), int64(2), object(1)
memory usage: 49.3+ KB

In [6]:
df["Churn"].value_counts()

0    750
1    150
Name: Churn, dtype: int64

In [7]:
df["Account_Manager"].value_counts()

0    467
1    433
Name: Account_Manager, dtype: int64

In [8]:
del df["Names"]

In [9]:
from __future__ import print_function

df=SparkSession.builder.getOrCreate()

22/08/26 22:27:58 WARN Utils: Your hostname, Gonen.local resolves to a loopback address: 127.0.0.1; using 192.168.10.94 instead (on interface en0)
22/08/26 22:27:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/26 22:27:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
inputlines=df = df.read.options(header = True, inferSchema = True).csv("churn.csv")

In [11]:
df=inputlines.rdd.map(lambda x: x.split(","))

In [12]:
df1 = inputlines
df1

DataFrame[_c0: int, Names: string, Age: double, Total_Purchase: double, Account_Manager: int, Years: double, Num_Sites: double, Churn: int]

In [13]:
from  pyspark.ml.feature import VectorAssembler

vecAssembler = VectorAssembler(inputCols=['Age','Total_Purchase','Account_Manager','Years','Num_Sites'], outputCol="features")
df1= vecAssembler.transform(df1)
df1

DataFrame[_c0: int, Names: string, Age: double, Total_Purchase: double, Account_Manager: int, Years: double, Num_Sites: double, Churn: int, features: vector]

In [14]:
df1 = df1.drop("index", 'Age','Total_Purchase','Account_Manager','Years','Num_Sites')
df1

DataFrame[_c0: int, Names: string, Churn: int, features: vector]

In [15]:
df1 = df1.drop("index", 'Age','Total_Purchase','Account_Manager','Years','Num_Sites')
df1 = df1.withColumnRenamed("Churn", "label")

In [16]:
trainTest=df1.randomSplit([0.5,0.5])
train=trainTest[0]
test=trainTest[1]

In [17]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [18]:
gbt=GBTClassifier(featuresCol='features',maxIter=10)

In [19]:
gbt = gbt.fit(train)

22/08/26 22:28:11 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
 Schema: _c0, Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
Expected: _c0 but found:
CSV file: file:///Users/enestunahan/Documents/Data%20Science/Projects/Big%20Data%20Machine%20Learning%20Classification/churn.csv

[Stage 2:>                                                          (0 + 1) / 1]

22/08/26 22:28:12 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
 Schema: _c0, Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
Expected: _c0 but found:
CSV file: file:///Users/enestunahan/Documents/Data%20Science/Projects/Big%20Data%20Machine%20Learning%20Classification/churn.csv
22/08/26 22:28:12 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
 Schema: _c0, Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
Expected: _c0 but found:
CSV file: file:///Users/enestunahan/Documents/Data%20Science/Projects/Big%20Data%20Machine%20Learning%20Classification/churn.csv
22/08/26 22:28:13 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
 Schema: _c0, Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
Expected: _c0 but found:
CSV file: file:///Users/enestunahan/Documents/Data%20Science/Projects/Big%20Data%20Machine%20Learning%20Classification/churn.csv

In [20]:
predictions = gbt.transform(test)
predictions.show()

22/08/26 22:28:18 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
 Schema: _c0, Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
Expected: _c0 but found:
CSV file: file:///Users/enestunahan/Documents/Data%20Science/Projects/Big%20Data%20Machine%20Learning%20Classification/churn.csv
22/08/26 22:28:18 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/08/26 22:28:18 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS
+---+------------------+-----+--------------------+--------------------+--------------------+----------+
|_c0|             Names|label|            features|       rawPrediction|         probability|prediction|
+---+------------------+-----+--------------------+--------------------+--------------------+----------+
|  0|  Cameron Williams|    1|[42.0,11066.8,0.0...|[1.20499068878511...|[0.91758527360761...|       0.0|
|  2|       Eric Lozano|    1|[38.0,12884.75,0....|[-1.2438839963145...|[0.07672015044511...|       1.0|
|  4|    Cynthia Norton|    1|[37.0,9191.58,0.0...|[1.34041119097590...|[0.93588548736381...|       0.0|
|  6|       Eric Butler|    1|[44.0,11331.58,1....|[-0.5138381677978...|[0.26353484291378...|       1.0|
|  8|       Ashlee Carr|    1|[43.0,14062.6,1.0...|[-0.5138381677978...|[0.26353484291378...|       1.0|
| 13|      Nicole Olson|    1|[40.0,8283.32,1.0...|[-1.4483891961312...|[0.05231304861207...|       1.0|
| 16|     Doris Wilkins|    1|[45.0,8213.41,1.0...|[-0.4813523549339...|[0.27633699383317...|       1.0|
| 19|       Kathy Curry|    1|[46.0,8046.4,1.0,...|[1.29115135235920...|[0.92971389055983...|       0.0|
| 21|       Kevin Ramos|    1|[56.0,12217.95,1....|[-0.3363348485583...|[0.33789930893917...|       1.0|
| 23|       Paul Walker|    1|[41.0,10474.94,0....|[-1.2378255399574...|[0.07758285601559...|       1.0|
| 25|  Steven Hernandez|    1|[54.0,8207.1,0.0,...|[-0.9962979019665...|[0.11998250959689...|       1.0|
| 26|     Danielle Kirk|    1|[35.0,12403.81,0....|[1.26160458093110...|[0.92575293637146...|       0.0|
| 29|Mrs. Sarah Morales|    1|[37.0,8284.89,1.0...|[-0.2634868500493...|[0.37122300059281...|       1.0|
| 31|        Carla Ball|    1|[45.0,10793.11,1....|[1.30578109319147...|[0.93160200547771...|       0.0|
| 34|    Tammy Shepherd|    1|[48.0,11740.0,1.0...|[0.13771316386362...|[0.56842457242625...|       0.0|
| 36|       Heidi Munoz|    1|[38.0,11887.39,0....|[-1.0092738202780...|[0.11726925147057...|       1.0|
| 38|       Erin Rivera|    1|[37.0,8198.06,1.0...|[-1.4483891961312...|[0.05231304861207...|       1.0|
| 41|    Jason Jones MD|    1|[55.0,16838.94,1....|[-0.8337774350118...|[0.15875045048109...|       1.0|
| 43|     George Archer|    1|[37.0,8736.06,1.0...|[-1.3748866647721...|[0.06009945294669...|       1.0|
| 44|    Richard Fields|    1|[50.0,10850.78,1....|[0.78851151381885...|[0.82878249280982...|       0.0|
+---+------------------+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [21]:
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Accuracy:", accuracy)

22/08/26 22:28:19 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
 Schema: _c0, Names, Age, Total_Purchase, Account_Manager, Years, Num_Sites, Churn
Expected: _c0 but found:
CSV file: file:///Users/enestunahan/Documents/Data%20Science/Projects/Big%20Data%20Machine%20Learning%20Classification/churn.csv
Accuracy: 0.8699551569506726